section {
	margin: 8px;
	padding: 8px;
	
	max-width: 1000px;
	box-sizing: border-box;
	
	background-color: #EEEEEE;
}
section > h2 {
	margin: 0;
}
section > h3 {
	margin: 0;
	font-size: initial;
}
section > p {
	margin: 8px 0;
	text-align: justify;
}
section > *:last-child {
	margin-bottom: 0;
}

h1 {
	margin: 8px;
	line-height: 1.2em;
}
input[type="text"], input[type="password"], input[type="number"] {
	background-color: #FFFFFF;
}

div.tablescroller {
	margin: 8px 0;
	height: 200px;
	min-height: 200px;
	
	overflow-y: scroll;
	resize: vertical;
}
div.tablescroller table {
	width: 100%;
	max-width: 500px;
	table-layout: fixed;
}
div.tablescroller input {
	width: 100%;
}

table.checktable {
	table-layout: unset !important;
}
table.checktable td:nth-child(2) {
	width: 20px;
	padding-right: 10px;
	line-height: 0;
}
table.checktable input[type="checkbox"] {
	width: 22px;
	height: 22px;
	margin: 0;
}

table.diagnosticstable caption {
	text-align: left;
	font-weight: bold;
}
table.diagnosticstable td:nth-child(1) {
	padding-right: 5em;
}

div.eventlog {
	font-family: monospace;
	font-size: 13.3333px;
	
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	margin: 8px 0;
	
	resize: vertical;
	cursor: text;
	word-wrap: break-word;
	white-space: pre;
	
	height: 15em;
	min-height: 15em;
	
	position: relative;
}
div.eventlog > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2px;
	
	overflow: auto;
}
div.eventlog span[data-entrylevel="WARN"] { color: #EF6C00; }
div.eventlog span[data-entrylevel="ERROR"] { color: #E53935; }
div.eventlog span[data-entrylevel="CRIT"] { color: #E53935; font-weight: bold; }

.loginerror { margin: 0 8px; color: #E53935; }
.error { color: #E53935; }
.success { color: #2E7D32; }
form.nonsectionui {
	display: block;
	margin: 8px;
}
span.path {
	font-family: Consolas, monospace;
	word-break: break-all;
}

form.desktopchangepassword label { margin-right: 5em; }

#loginform { display: inline-block; }
#loginform form.desktoplogin label { margin-right: 5em; }
#loginform form.mobilelogin { display: none; }
#loginform form.mobilelogin input[type="text"], #loginform form.mobilelogin input[type="password"] { width: 100%; }
#loginform form.mobilelogin label { display: block; text-align: center; line-height: 2em; }
#loginform form.mobilelogin p.buttonholder { margin-top: 0.5em; }

@media screen and (max-width: 500px) {
	#loginform { display: block; }
	form.desktoplogin { display: none; }
	form.mobilelogin { display: unset !important; }
	p.error { text-align: center; }
	
	form.desktopchangepassword table { width: 100%; text-align: center; margin-bottom: 8px; }
	form.desktopchangepassword label { margin-right: 0; }
	form.desktopchangepassword input { width: 100%; box-sizing: border-box; }
	form.desktopchangepassword td { display: block; }
	
	table.diagnosticstable { width: 100%; }
	table.diagnosticstable td { display: inline; padding-right: 0 !important; }
	table.diagnosticstable.long td:nth-child(1) { display: block; }
}