section {
	margin: 8px;
	padding: 8px;
	
	max-width: 1000px;
	box-sizing: border-box;
	
	background-color: #EEEEEE;
}
section > h2 {
	margin: 0;
}
section > p {
	margin: 8px 0;
	text-align: justify;
}
section > *:last-child {
	margin-bottom: 0;
}

h1 {
	margin: 8px;
	line-height: 1.2em;
}
input[type="text"], input[type="password"] {
	background-color: #FFFFFF;
}

div.tablescroller {
	margin: 8px 0;
	height: 200px;
	
	overflow-y: scroll;
	resize: vertical;
}
div.tablescroller table {
	width: 100%;
	max-width: 500px;
	table-layout: fixed;
}
div.tablescroller input {
	width: 100%;
}
div.tablescroller.checktable td:nth-child(2) {
	width: 20px;
}
div.tablescroller.checktable input[type="checkbox"] {
	width: auto;
	transform: scale(2);
	margin: 0;
}

.loginerror { margin: 0 8px; color: #E53935; }
.error { color: #E53935; }
.success { color: #2E7D32; }
form.nonsectionui {
	display: block;
	margin: 8px;
}

form.desktopchangepassword label { margin-right: 5em; }
form.mobilechangepassword { display: none; }
form.mobilechangepassword input[type="password"] { width: 100%; }
form.mobilechangepassword label { display: block; }
form.mobilechangepassword input[type="submit"] { margin-top: 0.5em; }

#loginform { display: inline-block; }
#loginform form.desktoplogin label { margin-right: 5em; }
#loginform form.mobilelogin { display: none; }
#loginform form.mobilelogin input[type="text"], #loginform form.mobilelogin input[type="password"] { width: 100%; }
#loginform form.mobilelogin label { display: block; text-align: center; line-height: 2em; }
#loginform form.mobilelogin p.buttonholder { margin-top: 0.5em; }

@media screen and (max-width: 500px) {
	#loginform { display: block; }
	form.desktoplogin { display: none; }
	form.mobilelogin { display: unset !important; }
	p.error { text-align: center; }
	form.desktopchangepassword { display: none; }
	form.mobilechangepassword { display: unset !important; }
}