article {
	margin: 8px;
	padding: 8px;
	
	max-width: 1000px;
	box-sizing: border-box;
	
	background-color: #EEEEEE;
}
h1 {
	margin: 0;
}
p {
	text-align: justify;
}
article > *:last-child {
	margin-bottom: 0;
}