#substitutiontable {
	color: #666;
	font-size: 0.9em;
	
	margin: 8px;
}
#substitutiontable td, #substitutiontable th {
	padding: 12pt;
	background-color: #EEEEEE;
}
#substitutiontable tr:nth-child(even) td {
	background-color: #FAFAFA;
}

body > p {
	margin: 8px;
}