table.substitutiontable {
	color: #212121;
	font-size: 0.9em;
	line-height: 1.1em;
	
	width: 100%;
	
	table-layout: fixed;
}
table.substitutiontable td, table.substitutiontable th {
	padding: 12pt;
	background-color: #E0E0E0;
	
	text-align: center;
}
table.substitutiontable th {
	color: #666;
}
table.substitutiontable tr:nth-child(even) td {
	background-color: #F5F5F5;
}
table.substitutiontable tr:nth-child(odd) td {
	background-color: #EEEEEE;
}
div.substitutiontablewrapper {
	max-width: 1000px;
	padding: 0 8px;
}
div.substitutiontablewrapper:last-of-type {
	padding-bottom: 8px;
}
div.substitutiontablewrapper > h2 {
	margin-left: 0;
	margin-right: 0;
}

#mobilecontrols {
	margin-top: 8px;
	display: none;
}
#mobilecontrols > div {
	padding: 0 8px;
}
#mobilecontrols > div > select {
	width: 100%;
}
#mobilecontrols > p {
	margin: 4px 8px;
	text-align: center;
}
#mobilecontrols select {
	font-size: 1.2em;
	
	height: 2em;
    padding-left: 0.2em;
}

body > p {
	margin: 8px;
}
h2 {
	font-weight: normal;
	margin: 8px;
	font-size: 1.3em;
}

p.remarks {
	color: #E53935;
	margin-left: 2em;
}
th.mobilesubstitution, td.mobilesubstitution {
	display: none;
}
td.mobilesubstitution > p:first-of-type { margin-top: 0; }
td.mobilesubstitution > p:last-of-type { margin-bottom: 0; }
.humantext { font-family: Consolas, monospace; }

@media screen and (max-width: 1000px) {
	th:not(:first-child):not(.mobilesubstitution), td:not(:first-child):not(.mobilesubstitution) { display: none; }
	th.mobilesubstitution, td.mobilesubstitution { display: table-cell; }
	th:first-child { width: 4em; }
	
	#mobilecontrols { display: block; }
	#groupselectwrapper { display: none; }
	
	p.remarks { margin-left: 8px; }
}