#timetable {
	color: #666;
	font-size: 0.9em;
	
	margin: 8px;
	
	height: 1px;
}
#timetable td {
	text-align: center;
	
	min-width: 130px;
	max-width: 130px;
	box-sizing: border-box;
	padding: 0;
	height: 100%;
}
#timetable .lesson { padding: 12px 6px; }
#timetable div.lessonholder { display: table; border-collapse: collapse; height: 100%; width: 100%; }
#timetable div.lessonholder > div { display: table-row; }
#timetable div.lesson { display: table-cell; vertical-align: middle; margin-bottom: 2px; }
#timetable td.multilesson .lesson { display: none; }
#timetable .lesson p {
	margin: 0;
	line-height: 1.1em;
}
#timetable .lesson p:nth-of-type(1), #timetable .lesson p:nth-of-type(3) { font-weight: bold; }
#timetable a {
	text-transform: uppercase;
	font-size: 0.8em;
	text-decoration: dashed;
	
    text-decoration-line: underline;
	color: inherit;
}
#timetable .hiddenlesson { display: none !important; }

#overlaycontent .compactlesson { padding: 12px; }
#overlaycontent .compactlesson:not(:last-child) { margin-bottom: 2px; }
#overlaycontent .compactlesson p {
	color: #666;
	font-size: 0.9em;
	line-height: 1.1em;
	
	margin: 0;
}
#overlaycontent .compactlesson p:not(:nth-child(2)) { font-weight: bold; }

#overlaycontent p { margin-bottom: -6px; }
#overlaycontent select { margin-top: 6px; }

#mobiletimetableselect {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
	text-align: center;
	padding-bottom: 24px;
	
	display: none;
}

@media screen and (max-width: 1000px) {
	body {
		margin-top: -50px;
	}
	
	#timetablewrapper {
		position: fixed;
		top: 50px;
		left: 0;
		bottom: 0;
		right: 0;
		
		overflow: auto;
	}
	#timetable {
		font-size: 0.6em;
		
		margin: 2px;
		margin-bottom: 43px;
	}
	#timetable td {
		min-width: 87px;
		max-width: 87px;
	}
	#timetable .lesson {
		padding: 8px 4px;
	}
	
	#mobiletimetableselect { display: inline-block; }
	#overlaycontent .compactlesson p { font-size: 0.6em; }
	#overlaywindow { padding: 6pt; }
	#overlaytitlebar { margin: 0 0 6pt; }
	#overlaytitlebar { font-size: inherit; }
	#overlayclose { height: 15px; }
	#overlaycontent { max-height: 250px; }
}
@media screen and (max-width: 500px) {
	#mobiletimetableselect {
		padding-bottom: 4px;
	}
	#timetable {
		margin-bottom: 36px;
	}
}