[data-lessonname="RELIGIA"] { background-color: #E0E0E0; }
[data-lessonname="JĘZYK ANG Dw"] { background-color: #EEEEEE; }
[data-lessonname="FIZYKA "] { background-color: #F8BBD0; }
[data-lessonname="11koło"] { background-color: #D7CCC8; }
[data-lessonname="MATdw"] { background-color: #FFF9C4; }
[data-lessonname="Godzina z wychowawcą"] { background-color: #F0F4C3; }
[data-lessonname="JĘZYK ROS "] { background-color: #E1BEE7; }
[data-lessonname="INFORMATYKA"] { background-color: #D7CCC8; }
[data-lessonname="JĘZYK POLSKI"] { background-color: #FFCDD2; }
[data-lessonname="MATEMATYKA"] { background-color: #FFF9C4; }
[data-lessonname="HISTORIA I SPOŁ. DW"] { background-color: #FFE0B2; }
[data-lessonname="Historia i Społeczeństwo"] { background-color: #FFE0B2; }
[data-lessonname="ETYKA"] { background-color: #FFE0B2; }
[data-lessonname="JĘZYK NIEMIECKI"] { background-color: #FFF9C4; }
[data-lessonname="JĘZYK ANGIELSKI "] { background-color: #EEEEEE; }
[data-lessonname="WYCH FIIZ"] { background-color: #DCEDC8; }
[data-lessonname="JĘZYK NIEM Roz"] { background-color: #FFF9C4; }
[data-lessonname="JĘZYK FRANCUSKI "] { background-color: #C8E6C9; }
[data-lessonname="Język Hiszp"] { background-color: #C8E6C9; }
[data-lessonname="Xkółka j.  pol"] { background-color: #FFCDD2; }
[data-lessonname="Język HiszpMat"] { background-color: #C8E6C9; }
[data-lessonname="CHEMIA"] { background-color: #E1BEE7; }
[data-lessonname="Rj.polski"] { background-color: #FFCDD2; }
[data-lessonname="BIOLOGIA"] { background-color: #DCEDC8; }
[data-lessonname="Rmatematyka"] { background-color: #FFF9C4; }
[data-lessonname="CHEMIA Dw"] { background-color: #E1BEE7; }
[data-lessonname="BIOLDW"] { background-color: #DCEDC8; }
[data-lessonname="yRj. polskiR"] { background-color: #FFCDD2; }
[data-lessonname="HISTORIA"] { background-color: #FFE0B2; }
[data-lessonname="historia sztuki"] { background-color: #F8BBD0; }
[data-lessonname="Rhistoria"] { background-color: #FFE0B2; }
[data-lessonname="GEOGRAFIA"] { background-color: #C5CAE9; }
[data-lessonname="filozofia"] { background-color: #B3E5FC; }
[data-lessonname="GEOGRA Dw"] { background-color: #C5CAE9; }
[data-lessonname="Przyroda"] { background-color: #E1BEE7; }
[data-lessonname="Podstawy Finansów "] { background-color: #C5CAE9; }