{% load tags_extra %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Ustawienia - III LO w Gdyni</title>
</head>
<body>
    <h2>Panel Samorządu uczniowskiego</h2>
    <h4>{{ info }}</h4>
    <br>
    <p>Usuń zbuforowane dane i pobierz je na nowo ze strony Edupage</p>
    <p style="color: red;">Proces może potrwać nawet 30 minut. W tym czasie strona będzie niedostępna.</p>
    <form action="/adminPanel/updateCache/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Aktualizuj cache">
    </form>
    {% if is_debug %}<form action="/adminPanel/clearCache/" method="POST">{% csrf_token %}<input type="submit" value="Wyczyść cache (DEBUG)"></form>{% endif %}
    <hr>

    <p>Zmień hasło do panelu administracyjnego</p>
    <p style="color: red;">Hasło musi mieć conajmniej 8 znaków, w tym minimum jedną cyfrę i jeden znak specjalny</p>
    <p style="color: red;">{{ error }}</p>
    <form action="/adminPanel/changePass/" method="POST">
        {% csrf_token %}
        <label>Stare hasło: </label><input type="password" name="old_password"><br>
        <label>Nowe hasło: </label><input type="password" name="new_password"><br>
        <label>Powtórz hasło: </label><input type="password" name="newer_password"><br>
        <input type="submit" value="Zmień hasło">
    </form>
    <hr>

    <p>Aliasy klas i przedmiotów</p>
    <p style="color: red;">Aby zmiany weszły w życie, po ich zapisaniu <b>wymagana jest aktualizacja cache</b></p>
    <form method="POST" action="/adminPanel/modifyAliases/">
    {% csrf_token %}
    <div style="height: 300px; overflow-y: scroll; border: black 1px solid;">
        <table>
            {% for class in classes %}
                <tr>
                    <td><b>{{ class }}</b></td>
                    <td><input type="text" value="{{ aliases|get_item:class }}" name="class${{ class }}"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div style="height: 300px; overflow-y: scroll; border: black 1px solid;">
        <table>
            {% for subject in subjects %}
                <tr>
                    <td><b>{{ subject }}</b></td>
                    <td><input type="text" value="{{ aliases|get_item:subject }}" name="subject${{ subject }}"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <input type="submit" value="Zapisz">
    </form>
    <hr>
</body>

</html>