{% extends "chmura/master.html" %}

{% block title %}Zaloguj{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block content %}

<h1>Logowanie do panelu administracyjnego</h1>
{% if incorrect_login %}<p class="loginerror">Błędny login lub hasło</p>{% endif %}
<section id="loginform">
	<form method="post" class="desktoplogin">
		<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		<table>
			<tr>
				<td><label>Login:</label></td>
				<td><input type="text" name="login"></td>
			</tr>
			<tr>
				<td><label>Hasło:</label></td>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<input type="submit" value="Zaloguj się">
	</form>
	<form method="post" class="mobilelogin">
		<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		<label>Login</label>
		<input type="text" name="login">
		<label>Hasło</label>
		<input type="password" name="password">
		<p class="buttonholder"><input type="submit" value="Zaloguj się"></p>
	</form>
</section>

{% endblock %}