{% extends "chmura/master.html" %}
{% load tags_extra %}

{% block title %}Panel administracyjny{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/admin.css?1">
{% endblock %}

{% block content %}

<h1>Panel administracyjny</h1>

<section>
	<h2>Aliasy klas</h2>
	<form method="post" action="/admin/modifyaliases/?aliastype=class">
		<div class="tablescroller">
			{% if classes|length > 0 %}
			<table>
				{% for class in classes %}
				<tr>
					<td>{{ class }}</td>
					<td><input type="text" value="{{ aliases|get_item:class }}" name="class${{ class }}"></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			Brak klas w bazie danych.
			{% endif %}
		</div>
		{% if status == "2" and alias_type == "class" %}<p class="success">Aliasy zapisane.</p>{% endif %}
		<input type="submit" value="Zapisz">
		{% csrf_token %}
	</form>
</section>
<section>
	<h2>Aliasy przedmiotów</h2>
	<form method="post" action="/admin/modifyaliases/?aliastype=subject">
		<div class="tablescroller">
			{% if subjects|length > 0 %}
			<table>
				{% for subject in subjects %}
				<tr>
					<td>{{ subject }}</td>
					<td><input type="text" value="{{ aliases|get_item:subject }}" name="subject${{ subject }}"></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			Brak przedmiotów w bazie danych.
			{% endif %}
		</div>
		{% if status == "2" and alias_type == "subject" %}<p class="success">Aliasy zapisane.</p>{% endif %}
		<input type="submit" value="Zapisz">
		{% csrf_token %}
	</form>
</section>
<section>
	<h2>Aliasy rodzajów zastępstw</h2>
	<form method="post" action="/admin/modifyaliases/?aliastype=subst">
		<div class="tablescroller">
			<table>
				{% for type in substitution_types %}
				<tr>
					<td>{{ type }}</td>
					<td><input type="text" value="{{ aliases|get_item:type }}" name="subst${{ type }}"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% if status == "2" and alias_type == "subst" %}<p class="success">Aliasy zapisane.</p>{% endif %}
		<input type="submit" value="Zapisz">
		{% csrf_token %}
	</form>
</section>
<section>
	<h2>Klasy priorytetowe</h2>
	<p>Wybierz klasy, które będą pojawiać się na listach w pierwszej kolejności.</p>
	<form method="post" action="/admin/modifypriority/">
		<div class="tablescroller">
			<table class="checktable">
				{% for class in priority_classes %}
				<tr>
					<td>{{ class }}</td>
					<td><input type="checkbox" {% if priority_classes|get_item:class %} checked {% endif %} name="priority${{ class }}"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% if status == "2" and alias_type == "priority" %}<p class="success">Priorytety zapisane.</p>{% endif %}
		<input type="submit" value="Zapisz">
		{% csrf_token %}
	</form>
</section>
<section>
	<h2>Priorytety sal</h2>
	<p>Ustaw kolejność wyświetlania sal. Najwyższy priorytet to 0, najniższy to 10. Ujemny priorytet oznacza salę ukrytą.</p>
	<form method="post" action="/admin/modifyclassroomspriority/">
		<div class="tablescroller">
			<table>
				{% for classroom, idx in classrooms.items %}
				<tr>
					<td>{{ classroom }}</td>
					<td><input type="number" name="priority${{ classroom }}" value="{{ priority_classrooms|get_item_or_zero:classroom }}" min="-1" max="10"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% if status == "2" and alias_type == "classroomspriority" %}<p class="success">Priorytety zapisane.</p>{% endif %}
		<input type="submit" value="Zapisz">
		{% csrf_token %}
	</form>
</section>
<section>
	<h2>Pamięć podręczna</h2>
	<p>
		Usuń zbuforowane dane i pobierz je na nowo. Proces trwa około 2 minut.
	</p>
	<p>
		Status ostatniej aktualizacji:
		{% if update_state == 1 %}
		Aktualizacja w toku
		{% elif update_state == 2 %}
		Aktualizacja ukończona pomyślnie
		{% elif update_state == -1 %}
		Błąd
		{% else %}
		Stan nieznany
		{% endif %}
	</p>
	{% if status == "3" %}
	<p class="success">Aktualizacja rozpoczęta.</p>
	{% elif status == "-5" %}
	<p class="error">Funkcja nieobsługiwana w systemie Windows.</p>
	{% elif status == "-6" %}
	<p class="error">Aktualizacja już jest w toku.</p>
	{% endif %}
	<form method="post" action="/admin/updatecache/"><input type="submit" value="Pobierz pamięć od nowa">{% csrf_token %}</form>
	
	<p>
		Wyczyść bufor identyfikatorów - pozwala szybko odświeżyć widoki, które nie są przechowywane w pamięci podręcznej.
	</p>
	{% if status == "4" %}
	<p class="success">Bufor wyczyszczony pomyślnie.</p>
	{% endif %}
	<form method="post" action="/admin/adminupdateID/"><input type="submit" value="Wyczyść bufor identyfikatorów">{% csrf_token %}</form>
	
	{% if is_debug or status == "-4" %}
	<p>
		Usuń zbuforowane dane bez pobierania.
	</p>
	{% if status == "1" %}
	<p class="success">Pamięć podręczna wyczyszczona pomyślnie.</p>
	{% elif status == "-4" %}
	<p class="error">Funkcja dostępna tylko w trybie debug.</p>
	{% endif %}
	<form method="post" action="/admin/clearcache/"><input type="submit" value="Wyczyść pamięć">{% csrf_token %}</form>
	{% endif %}
</section>
<section>
	<h2>Hasło do panelu</h2>
	<p>Hasło musi mieć co najmniej 8 znaków, w tym przynajmniej jedną cyfrę i jeden znak specjalny.</p>
	<form method="post" action="/admin/changepass/" class="desktopchangepassword">
		{% csrf_token %}
		<table>
			<tr>
				<td><label>Stare hasło:</label></td>
				<td><input type="password" name="old_password" title="Stare hasło"></td>
			</tr>
			<tr>
				<td><label>Nowe hasło:</label></td>
				<td><input type="password" name="new_password" title="Stare hasło"></td>
			</tr>
			<tr>
				<td><label>Powtórz hasło:</label></td>
				<td><input type="password" name="newer_password" title="Stare hasło"></td>
			</tr>
		</table>
		
		{% if status == "-1" %}
		<p class="error">Hasło nie spełnia wymogów bezpieczeństwa.</p>
		{% elif status == "-2" %}
		<p class="error">Hasła nie są jednakowe.</p>
		{% elif status == "-3" %}
		<p class="error">Stare hasło jest niepoprawne.</p>
		{% endif %}
		
		<input type="submit" value="Zmień hasło">
	</form>
	<form method="post" action="/admin/changepass/" class="mobilechangepassword">
		<label>Stare hasło:</label>
		<input type="password" name="old_password" title="Stare hasło">
		<label>Nowe hasło:</label>
		<input type="password" name="new_password" title="Stare hasło">
		<label>Powtórz hasło:</label>
		<input type="password" name="newer_password" title="Stare hasło">
		
		{% if status == "-1" %}
		<p class="error">Hasło nie spełnia wymogów bezpieczeństwa.</p>
		{% elif status == "-2" %}
		<p class="error">Hasła nie są jednakowe.</p>
		{% elif status == "-3" %}
		<p class="error">Stare hasło jest niepoprawne.</p>
		{% endif %}
		
		<input type="submit" value="Zmień hasło">
	</form>
</section>
<section>
	<h2>Dziennik zdarzeń</h2>
    <table>
        <tr><td>Ostatnia aktualizacja planu lekcji:</td><td>nigdy</td></tr>
        <tr><td>Ostatnia aktualizacja zastępstw:</td><td>nigdy</td></tr>
        <tr><td>Ostatnia aktualizacja identyfikatorów:</td><td>nigdy</td></tr>
        <tr><td>Ostatnia aktualizacja aktualności:</td><td>nigdy</td></tr>
        <tr><td>Ostatnia aktualizacja terminarza:</td><td>nigdy</td></tr>
    </table>
    <hr>
    <table>
        {% autoescape off %}
        <tr><td>Tryb debugowania:</td><td>{{ params.debug|return_on_off:True }}</td></tr>
        <tr><td>Tor</td><td>{{ params.tor|return_on_off }}</td></tr>
        <tr><td>Agresywna zmiana adresu IP Tor:</td><td>{{ params.aggr_ip|return_on_off }}</td></tr>
        {% endautoescape %}
        <tr><td>Lokalizacja pamięci podręcznej:</td><td>{{ params.cache }}</td></tr>
    </table>
    <hr>
    <div class="tablescroller">
        {% if events|length > 0 %}
        <table style="max-width: none;">
            {% for event in events %}
            <tr>
                <td style="width: 20%;">{{ event.date }}</td>
                {% autoescape off %}<td style="width: 10%;">{{ event.level|set_color }}</td>{% endautoescape %}
                <td style="width: 50%;">{{ event.message }}</td>
                <td style="width: 20%;"><a href="/admin/adminadditional/?pk={{ event.pk }}">Pokaż szczegóły</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            Brak zdarzeń w dzienniku
        {% endif %}
    </div>
    <form action="/admin/clearJournal/">
        {% csrf_token %}
        <input type="submit" value="Wyczyść dziennik">
    </form>
    {% if status == "5" %}<p class="success">Dziennik zdarzeń został pomyślnie wyczyszczony</p>{% endif %}
</section>

<form action="/admin/logout" class="nonsectionui">
	<input type="submit" value="Wyloguj">
</form>

{% endblock %}