{% extends 'chmura/index.html' %}

{% block header %}Ogłoszenia{% endblock %}

{% block content %}
<section class="dashboard-counts no-padding-bottom">
<div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">Wersja alpha serwisu</h3>
        </div>
        <div class="card-body">
          <p>Z dniem dzisiejszym rozpoczęliśmy publiczne testy naszej nowej platformy <b>Trójkowego Samorządu Uczniowskiego</b>. Z każdym dniem funkcjonalność serwisu będzie się rozszerzać. Jeśli
          jesteście zainteresowani nowym systemem i chcecie mieć swój wkład w jego tworzenie głosujcie na <b>Michała Rembalskiego.</b></p><p style="width: 100%; text-align: right;"><i>~ Komitet wyborczy Michała Rembalskiego</i></p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
