{% extends "chmura/master.html" %}

{% block title %}Changelog{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/changelog.css">
{% endblock %}

{% block content %}
<article>
	<h1>2018-03-01</h1>
	<ul>
		<!--<li>Dodano czytelne nazwy przedmiotów i klas</li>-->
		<li>Dodano filtrowanie nauczycieli w zastępstwach</li>
		<li>Zastępstwa pokazują następny dzień po godzinie 17</li>
		<li>Przystosowano plan lekcji do wydruku</li>
		<li>Naprawiono alfabetyczne sortowanie list</li>
	</ul>
</article>
<article>
	<h1>2018-02-28</h1>
	<ul>
		<li>Dodano changelog</li>
		<li>Zmniejszono plan w wersji mobilnej</li>
		<li>Poprawiono wyświetlanie szczegółów</li>
		<li>Poprawiono pobieranie i wyświetlanie listy uczniów</li>
	</ul>
	<p>
		Otrzymujemy też liczne zgłoszenia o błędach od użytkowników iPhone'ów
		- staramy się rozwiązać sytuację.
	</p>
</article>
{% endblock %}