{% extends "chmura/master.html" %}

{% block title %}Changelog{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/changelog.css">
{% endblock %}

{% block content %}
<article>
	<h1>2018-02-28</h1>
	<ul>
		<li>Dodano changelog</li>
		<li>Zmniejszono plan w wersji mobilnej</li>
		<li>Poprawiono wyświetlanie szczegółów</li>
		<li>Poprawiono pobieranie i wyświetlanie listy uczniów</li>
	</ul>
	<p>
		Otrzymujemy też liczne zgłoszenia o błędach od użytkowników iPhone'ów
		- staramy się rozwiązać sytuację.
	</p>
</article>
{% endblock %}