{% extends "chmura/master.html" %}

{% block title %}Changelog{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/changelog.css">
{% endblock %}

{% block content %}
<article>
	<h1>2018-03-25</h1>
	<ul>
		<li>
			Usprawnienia interfejsu
			<ul>
				<li>Naprawiono skalowanie interfejsu na niektórych przeglądarkach</li>
				<li>Okno wyboru planu po otwarciu wyświetla aktualny plan</li>
				<li>Logo szkoły prowadzi na stronę główną</li>
				<li>Dodano intensywniejsze kolory planu zastępstw</li>
				<li>Powiększono link do szczegółów</li>
				<li>Powiększono tekst w oknie szczegółów na urządzeniach mobilnych</li>
				<li>Poprawiono wyświetlanie planu nauczyciela</li>
			</ul>
		</li>
		<li>Naprawiono błąd związany z wyświetlaniem nieistniejących planów zastępstw</li>
	</ul>
	<p>
		W najbliższych dniach będziemy publikować dalsze usprawnienia, w szczególności dla przeglądarki Safari.
	</p>
</article>
<article>
	<h1>2018-03-22</h1>
	<ul>
		<li>Dodano plany sal</li>
		<li>Naprawiono zapamiętywanie wybranych planów lekcji</li>
	</ul>
</article>
<article>
	<h1>2018-03-20</h1>
	<ul>
		<li>Dodano sortowanie zastępstw według numeru lekcji</li>
		<li>W niedzielę domyślnie pokazywane są zastępstwa na poniedziałek</li>
		<li>
			Drobne usprawnienia interfejsu
			<ul>
				<li>Szybsze ładowanie listy dat na zastępstwach</li>
				<li>Automatyczne zaznaczanie pola wyszukiwania planu</li>
				<li>Szybkie wybieranie planu klawiszem F2</li>
			</ul>
		</li>
	</ul>
</article>
<article>
	<h1>2018-03-12</h1>
	<ul>
		<li>Dodano wyszukiwarkę tekstową</li>
	</ul>
</article>
<article>
	<h1>2018-03-08</h1>
	<ul>
		<li>Dodano alfabetyczne sortowanie klas</li>
		<li>Dodano ikonę strony</li>
	</ul>
</article>
<article>
	<h1>2018-03-04</h1>
	<ul>
		<li>Dodano czytelne nazwy przedmiotów i rodzajów zastępstw</li>
		<li>Naprawiono wyświetlanie nieaktualnej wersji planu</li>
		<li>Naprawiono zapamiętywanie ostatniego ucznia</li>
	</ul>
</article>
<article>
	<h1>2018-03-01</h1>
	<ul>
		<li>Dodano filtrowanie nauczycieli w zastępstwach</li>
		<li>Zastępstwa pokazują następny dzień po godzinie 17</li>
		<li>Przystosowano plan lekcji do wydruku</li>
		<li>Naprawiono alfabetyczne sortowanie list</li>
	</ul>
</article>
<article>
	<h1>2018-02-28</h1>
	<ul>
		<li>Dodano changelog</li>
		<li>Zmniejszono plan w wersji mobilnej</li>
		<li>Poprawiono wyświetlanie szczegółów</li>
		<li>Poprawiono pobieranie i wyświetlanie listy uczniów</li>
	</ul>
	<p>
		Otrzymujemy też liczne zgłoszenia o błędach od użytkowników iPhone'ów
		- staramy się rozwiązać sytuację.
	</p>
</article>
{% endblock %}