{% extends "chmura/master.html" %}

{% block title %}Plan lekcji{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/timetable.css?6">
{#<link rel="stylesheet" href="/static/css/timetablecolors.css">#}
{% if device == "Chrome" %}<link rel="stylesheet" href="/static/css/timetablechromefix.css">{% endif %}
{% endblock %}

{% block localjs %}
<script src="/static/js/timetable.js?5" defer></script>
{% endblock %}

{% block secondaryheaderselect %}
<select class="timetableselect" data-previousselectedindex="0" onchange="handleTimetableSelectUpdate(this)">
	<option data-type="{{ type }}" data-uid="{{ target_uid }}">{{ target }}</option>
	<option>Wybierz...</option>
</select>
{% endblock %}

{% block content %}
<div id="timetablewrapper">
	<table id="timetable">
		<tr>
			<th></th>
			{% for hour in break_range %}
				<th>{% if begin %}{{forloop.counter}}{% else %}{{ forloop.counter0 }}{% endif %}<br>{% autoescape off %}{{ hour }}{% endautoescape %}</th>
			{% endfor %}
		</tr>
		
		{% for weekday, blocks in timetable.items %}
		<tr>
			<th>{{ weekday }}</th>
			
			{% for hour, block in blocks.items %}
			{% if block|length == 0 %}
			<td></td>
			{% elif block|length == 1 %}
			<td class="lesson" style="background-color: {{ block.0.color }};">
				<p>{{ block.0.subject }}</p>
				<p>{{ block.0.teacher }}{% for class in block.0.classes %}{{ class }}{% if block.0.classes|length > forloop.counter %}, {% endif %}{% endfor %}</p>
				<p>{{ block.0.classroom }}</p>
			</td>
			{% elif block|length <= 3 %}
			<td>
				<div class="lessonholder">
					{% for lesson in block %}
					<div>
						<div class="lesson" style="background-color: {{ lesson.color }};">
							<p>{{ lesson.subject }}</p>
							<p>{{ lesson.teacher }}{% for class in lesson.classes %}{{ class }}{% if lesson.classes|length > forloop.counter %}, {% endif %}{% endfor %}</p>
							<p>{{ lesson.classroom }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</td>
			{% else %}
			<td>
				<div class="lessonholder">
					<div class="detailslesson">
						<div class="lesson variouslessons" style="background-color: white;">
							<p>Różne</p>
							<p class="detailslink"><a href="javascript:void(0)" onclick="showDetails(this)">Rozwiń</a></p>
						</div>
					</div>
					{% for lesson in block %}
					<div class="hiddenlesson">
						<div class="lesson" style="background-color: {{ lesson.color }}">
							<p>{{ lesson.subject }}</p>
							<p>{{ lesson.teacher }}{% for class in lesson.classes %}{{ class }}{% if lesson.classes|length > forloop.counter %}, {% endif %}{% endfor %}</p>
							<p>{{ lesson.classroom }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</td>
			{% endif %}
			
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	
	{% include "chmura/footer.html" %}
	
	<div id="mobiletimetableselect">
	<select class="timetableselect" data-previousselectedindex="0" onchange="handleTimetableSelectUpdate(this)">
		<option data-type="{{ type }}" data-uid="{{ target_uid }}">{{ target }}</option>
		<option>Wybierz...</option>
	</select>
</div>
</div>

<div id="overlay">
	<div>
		<div onclick="closeOverlay(this, event)">
			
			<div id="overlaywindow">
				<p id="overlaytitlebar"><span id="overlaytitle"></span><img id="overlayclose" src="/static/img/close.png" onclick="closeOverlay()" width="20" height="20" alt="Zamknij"></p>
				<div id="overlaycontent">
					
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="timetableselectdialog" hidden>
	<form class="timetableselectdialog">
		<div data-selectedmobileform>
			<p>Pokaż plan <span class="mobileformtoggler">lub <a href="javascript:toggleMobileForm()">wyszukaj</a></span></p>
			<div>
				<select name="sel" onchange="handleTimetableTypeSelectUpdate(this)">
					<option value="class">Klasy</option>
					<option value="student">Ucznia</option>
					<option value="teacher">Nauczyciela</option>
				</select>
				<select name="uid" data-selecttype="class">
					{% for class, uid in classes.items %}
					<option value="{{ uid }}">{{ class }}</option>
					{% endfor %}
				</select>
				<p style="display: none" class="nonspaced">Z klasy</p>
				<select style="display: none" data-selecttype="populatedclass" onchange="showStudentList(this)">
					{% for class, studentlist in students.items %}
					<option>{{ class }}</option>
					{% endfor %}
				</select>
				<select style="display: none" data-selecttype="teacher">
					{% for name, uid in teachers.items %}
					<option value="{{ uid }}">{{ name }}</option>
					{% endfor %}
				</select>
				{% for class, studentlist in students.items %}
				<select style="display: none" data-selecttype="student" data-class="{{ class }}">
					{% for student in studentlist %}
					<option value="{{ student.id }}">{{ student.lastname }} {{ student.firstname }}</option>
					{% endfor %}
				</select>
				{% endfor %}
			</div>
			<p class="buttonholder"><input type="submit" value="Wybierz" onclick="setLastSettings(this)"></p>
		</div>
		<div>
			<p>Wyszukaj <span class="mobileformtoggler">lub <a href="javascript:toggleMobileForm()">wybierz z listy</a></span></p>
			<input
				type="text"
				autocomplete="off"
				placeholder="Nazwa klasy, ucznia lub nauczyciela"
				onkeyup="handleSearchBarKeyUp(this, event)"
				onkeydown="handleSearchBarKeyDown(this, event)">
			<div class="searchresults">
				<div data-selectedindex="-1"></div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block footer %}{% endblock %}