<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - III LO w Gdyni</title>
		
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" href="/static/css/global.css">
		{% block localcss %}{% endblock %}
		
		<script src="/static/js/global.js"></script>
		{% block localjs %}{% endblock %}
	</head>
	<body>
		<header id="header">
			III LO w Gdyni
			<select onchange="handleLocationSelectUpdate(this)">
				<option value="/">Plan lekcji</option>
				<option value="/substitution/">Zastępstwa</option>
			</select>
			{% block secondaryheaderselect %}{% endblock %}
		</header>
		
		{% block content %}{% endblock %}
	</body>
</html>