<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - III LO w Gdyni</title>
		
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" href="/static/css/global.css">
		{% block localcss %}{% endblock %}
		
		<script src="/static/js/global.js"></script>
		{% block localjs %}{% endblock %}
	</head>
	<body>
		<header id="header">
			<p>
				III LO w Gdyni
				<img id="headerhamburger" src="/static/img/hamburger.png" onclick="toggleHeaderMenu()">
			</p>
			<select onchange="handleLocationSelectUpdate(this)">
				<option value="/">Plan lekcji</option>
				<option value="/substitution/">Zastępstwa</option>
			</select>
			{% block secondaryheaderselect %}{% endblock %}
			<div id="headermenu" style="display: none">
				<a href="/">Plan lekcji</a>
				<a href="/substitution/">Zastępstwa</a>
			</div>
		</header>
		
		{% block content %}{% endblock %}
	</body>
</html>