<!DOCTYPE html>
<html lang="pl">
	<head>
		<title>{% block title %}{% endblock %} - III LO w Gdyni</title>

		<meta name="viewport" content="width=device-width" id="viewport">
		<meta charset="UTF-8">
		<meta name="keywords" content="3lo, gdynia, iiilo, iiilogdynia, 3logdynia, plan lekcji, zastępstwa">
		<meta name="description" content="Ulepszony plan lekcji dla III LO w Gdyni.">
		
		<link rel="icon" href="/static/img/logo.png">
		<link rel="apple-touch-icon" href="/static/img/logo.png">
		<link rel="apple-touch-startup-image" href="/static/img/logo.png">
		
		<meta property="og:url" content="https://cerberos.pl/">
		<meta property="og:description" content="Ulepszony plan lekcji dla III LO w Gdyni.">
		<meta property="og:image" content="https://cerberos.pl/static/img/preview.png">
		
		<link rel="stylesheet" href="/static/css/global.css?1">
		{% block localcss %}{% endblock %}
		
		<script src="/static/js/global.js" defer></script>
		{% block localjs %}{% endblock %}
		
		<script src="https://www.googletagmanager.com/gtag/js?id=UA-114781544-1" async></script>
		<script type="text/javascript">
			window.dataLayer = window.dataLayer || [];
			
			function gtag() { dataLayer.push(arguments); }
			gtag("js", new Date());
			gtag("config", "UA-114781544-1");
		</script>
	</head>
	<body>
		<header id="header">
			<p>
				<span>III LO w Gdyni</span>
				<img id="headerhamburger" src="/static/img/hamburger.png" onclick="toggleHeaderMenu()" width="30" height="30" alt="Menu">
			</p>
			<select onchange="handleLocationSelectUpdate(this)">
				<option value="/" {% if request.path == "/" %}selected{%endif%}>Plan lekcji</option>
				<option value="/substitution/" {% if request.path == "/substitution/" %}selected{% endif %}>Zastępstwa</option>
                <!--<option value="/news/" {% if request.path == "/news/" %}selected{% endif %}>Aktualności</option>-->
				<option value="/changelog/" {% if request.path == "/changelog/" %}selected{% endif %}>Changelog</option>
				{% if request.path == "/adminlogin/" %}<option value="/adminlogin/" selected>Logowanie</option> {% endif %}
				{% if user.is_authenticated %}<option value="/admin/" {% if request.path == "/admin/" %}selected{% endif %}>Panel administracyjny</option>{% endif %}
			</select>
			{% block secondaryheaderselect %}{% endblock %}
			<div id="headermenu" style="display: none">
				<a href="/" {% if request.path == "/" %}class="current"{% endif %}>Plan lekcji</a>
				<a href="/substitution/" {% if request.path == "/substitution/" %}class="current"{% endif %}>Zastępstwa</a>
                <!--<a href="/news/" {% if request.path == "/news/" %}class="current"{% endif %}>Aktualności</a>-->
				<a href="/changelog/" {% if request.path == "/changelog/" %}class="current"{% endif %}>Changelog</a>
				{% if request.path == "/adminlogin/" %} <a href="/adminlogin/" class="current">Logowanie</a> {% endif %}
				{% if user.is_authenticated %}<a href="/changelog/" {% if request.path == "/admin/" %}class="current"{% endif %}>Panel administracyjny</a>{% endif %}
			</div>
		</header>
		
		{% spaceless %}
		{% block content %}{% endblock %}
		{% endspaceless %}
		
		{% if not request.COOKIES.seenhello %}
		{% block hellooverlay %}
		<div id="hellooverlay">
			<div>
				<div>
				
					<div id="hellooverlaycontent">
						<h1>Cześć!</h1>
						<p>
							Witaj na nowej stronie planu lekcji!
						</p>
						<p>
							Nasza strona jest jeszcze w budowie, ale jesteśmy już blisko jej ukończenia.
						</p>
						<p>
							Coś nie działa?
							<a href="https://docs.google.com/forms/u/0/d/1crfIHHFgJh8a26Snn9wLvZP2OyYGu-K9zxKhoKr0TKA/viewform" target="_blank" rel="noopener">Daj nam znać</a>,
							a zajmiemy się tym tak szybko, jak tylko możemy.
						</p>
						<p>
							Link do formularza znajdziesz zawsze na dole strony.
						</p>
						<p>
							Z góry dziękujemy za pomoc! 🙂
						</p>
						<p>
							<a href="javascript:void(0)" onclick="closeHello()">Zamknij</a>
						</p>
					</div>
					
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function adjustHello() {
				var hello = document.getElementById("hellooverlaycontent");
				
				if (hello.clientHeight > window.innerHeight)
					hello.className = "compacthello";
				else
					hello.className = "";
			}
			function closeHello() {
				var overlay = document.getElementById("hellooverlay");
				overlay.parentElement.removeChild(overlay);
				window.onresize = null;
				
				setCookie("seenhello", "true", 31536000000);
			}
			
			window.onresize = adjustHello;
			adjustHello();
		</script>
		{% endblock %}
		{% endif %}
		
		{% block footer %}
		{% include "chmura/footer.html" %}
		{% endblock %}
	</body>
</html>