{% extends "chmura/master.html" %}

{% block title %}Zastępstwa{% endblock %}

{% block localcss %}
<link rel="stylesheet" href="/static/css/substitution.css">
{% endblock %}
{% block localjs %}
<script src="/static/js/substitution.js?3" defer></script>
{% endblock %}

{% block secondaryheaderselect %}
<select class="dayselect" onchange="handleSubstitutionDaySelectUpdate(this)" id="maindayselect" data-date="{{ data }}"></select>
{% endblock %}

{% block content %}
<div id="mobilecontrols">
	<p>Wybierz dzień:</p>
	<div><select class="dayselect" onchange="handleSubstitutionDaySelectUpdate(this)"></select></div>
	<p>Pokaż zastępstwa dla:</p>
	<div>
		<select class="substitutiongroupselect" onchange="handleFilterSelectUpdate(this)">
			<option value="*">Wszystkie zastępstwa</option>
			<option disabled>Klasy</option>
			<option data-type="class">Bez klasy</option>
			{% for class in classes %}
			<option data-type="class">{{ class }}</option>
			{% endfor %}
			<option disabled>Nauczyciele</option>
			{% for teacher, id in teachers.items %}
			<option data-type="teacher" value="{{ id }}">{{ teacher }}</option>
			{% endfor %}
		</select>
	</div>
</div>

{% if notka|length > 0 %}
<h2>Uwagi</h2>
<p class="notka">{% autoescape off %}{{ notka }}{% endautoescape %}</p>
{% endif %}

{% if zastepstwa|length == 0 %}
<p>W tym dniu nie ma żadnych zastępstw.</p>
{% else %}
<p id="groupselectwrapper">
	Pokaż zastępstwa dla:
	<select class="substitutiongroupselect" onchange="handleFilterSelectUpdate(this)">
		<option value="*">Wszystkie zastępstwa</option>
		<option disabled>Klasy</option>
		<option data-type="class">Bez klasy</option>
		{% for class in classes %}
		<option data-type="class">{{ class }}</option>
		{% endfor %}
		<option disabled>Nauczyciele</option>
		{% for teacher, id in teachers.items %}
		<option data-type="teacher" value="{{ id }}">{{ teacher }}</option>
		{% endfor %}
	</select>
</p>
{% endif %}

{% for group, groupdata in zastepstwa.items %}

<div class="substitutiontablewrapper"
	data-group="{% if group|length > 0 %}{{ group }}{% else %}Bez klasy{% endif %}"
	data-teachers="{% for entry in groupdata %}{% for teacher in entry.nauczyciel %} {{ teacher.id }} {% endfor %}{% for teacher in entry.new_nauczyciel %} {{ teacher.id }} {% endfor %}{% endfor %}">
	<h2>{% if group|length > 0 %}{% autoescape off %}{{ groupdata.0.displayname }}{% endautoescape %}{% else %}Bez klasy{% endif %}</h2>
	
	<table class="substitutiontable">
		<tr>
			<th>Lekcja</th>
			<th>Przedmiot</th>
			<th>Nauczyciel</th>
			<th>Sala</th>
			<th>Rodzaj</th>
			<th>Notatka</th>
			<th class="mobilesubstitution">Opis</th>
		</tr>
		
		{% for entry in groupdata %}
		<tr>
			<td>{{ entry.lekcja.id }}{{ entry.przerwa.short }}</td>
			<td>
				{% for subject in entry.przedmiot %}
					{% if subject in entry.old_przedmiot %}<s>{% endif %}{{ subject.name }}{% if subject in entry.old_przedmiot %}</s>{% endif %}{% if entry.przedmiot|length > forloop.counter %}, {% endif %}
				{% endfor %}
				
				{% if entry.przedmiot|length != 0 and entry.new_przedmiot|length != 0 %}<br>&rarr;<br>{% endif %}
				{% for subject in entry.new_przedmiot %}{{subject.name}}{% if entry.new_przedmiot|length > forloop.counter %}, {% endif %}{% endfor %}
			</td>
			<td>
				{% for teacher in entry.nauczyciel %}
					{% if teacher in entry.old_nauczyciel %}<s>{% endif %}{{ teacher.name }}{% if teacher in entry.old_nauczyciel %}</s>{% endif %}{% if entry.nauczyciel|length > forloop.counter %}, {% endif %}
				{% endfor %}
				
				{% if entry.nauczyciel|length != 0 and entry.new_nauczyciel|length != 0 %}<br>&rarr;<br>{% endif %}
				{% for teacher in entry.new_nauczyciel %}{{ teacher.name }}{% if entry.new_nauczyciel|length > forloop.counter %}, {% endif %}{% endfor %}
			</td>
			<td>
				{% for room in entry.sala %}
					{% if room in entry.old_sala %}<s>{% endif %}{{ room.name }}{% if room in entry.old_sala %}</s>{% endif %}{% if entry.sala|length > forloop.counter %}, {% endif %}
				{% endfor %}

				{% if entry.sala|length != 0 and entry.new_sala|length != 0 %}<br>&rarr;<br>{% endif %}
				{% for room in entry.new_sala %}{{ room.name }}{% if entry.new_sala|length > forloop.counter %}, {% endif %}{% endfor %}
			</td>
			<td>{% if entry.anulowano %}Anulowano{% endif %} {{ entry.typ.short }}</td>
			<td class="humantext">{{ entry.notka }}</td>
			<td class="mobilesubstitution">
				{% if entry.przedmiot|length > 0 %}
				<p>
					{% for subject in entry.przedmiot %}
						{% if subject in entry.old_przedmiot %}<s>{% endif %}{{ subject.name }}{% if subject in entry.old_przedmiot %}</s>{% endif %}{% if entry.przedmiot|length > forloop.counter %}, {% endif %}
					{% endfor %}
					
					{% if entry.przedmiot|length != 0 and entry.new_przedmiot|length != 0 %}&rarr;{% endif %}
					{% for subject in entry.new_przedmiot %}{{subject.name}}{% if entry.new_przedmiot|length > forloop.counter %}, {% endif %}{% endfor %}
				</p>
				{% endif %}
				{% if entry.nauczyciel|length != 0 %}
				<p>
					{% for teacher in entry.nauczyciel %}
						{% if teacher in entry.old_nauczyciel %}<s>{% endif %}{{ teacher.name }}{% if teacher in entry.old_nauczyciel %}</s>{% endif %}{% if entry.nauczyciel|length > forloop.counter %}, {% endif %}
					{% endfor %}
					{% if entry.nauczyciel|length != 0 and entry.new_nauczyciel|length != 0 %}&rarr;{% endif %}
					{% for teacher in entry.new_nauczyciel %}{{ teacher.name }}{% if entry.new_nauczyciel|length > forloop.counter %}, {% endif %}{% endfor %}
				</p>
				{% endif %}
				{% if entry.sala|length != 0 %}
				<p>
					{% for room in entry.sala %}
						{% if room in entry.old_sala %}<s>{% endif %}{{ room.name }}{% if room in entry.old_sala %}</s>{% endif %}{% if entry.sala|length > forloop.counter %}, {% endif %}
					{% endfor %}
					{% if entry.sala|length != 0 and entry.new_sala|length != 0 %}&rarr;{% endif %}
					{% for room in entry.new_sala %}{{ room.name }}{% if entry.new_sala|length > forloop.counter %}, {% endif %}{% endfor %}
				</p>
				{% endif %}
				{% if entry.typ.name != "pl" and entry.typ.short|length != 0 or entry.anulowano %}
				<p>
					{% if entry.anulowano %}Anulowano{% endif %}
					{{ entry.typ.short }}
				</p>
				{% endif %}
				{% if entry.notka|length > 0 %}
				<p class="humantext">
					{{ entry.notka }}
				</p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endfor %}

<p class="nosubstitution" data-type="class" style="display: none">Brak zastępstw dla wybranej klasy.</p>
<p class="nosubstitution" data-type="teacher" style="display: none">Brak zastępstw dla wybranego nauczyciela.</p>
{% endblock %}