{% extends 'chmura/index.html' %}

{% block header %}Wybór planu lekcji{% endblock %}

{% block content %}
<section class="dashboard-counts no-padding-bottom">
            <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Filtry</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal" id="filter-form">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label" for="select-type">Typ:</label>
                          <div class="col-sm-9">
                              <select name="select-type" id="select-type" class="form-control">
                                <option target="select-value-teacher" uid="ucitel" selected>Nauczyciel</option>
                                <option target="select-value-class" uid="trieda">Klasa</option>
                                <option target="select-value-student" uid="student">Uczeń</option>
                                <!--<option>Sala</option>-->
                              </select>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" for="select-value">Wartość:</label>
                            <div class="col-sm-9">
                                <select name="select-value" id="select-value-class" class="form-control" style="display: none;">
                                  {% for klasa, send in klasy.items %}
                                  <option send="{{send}}">{{klasa}}</option>
                                  {% endfor %}
                                </select>
                                <select name="select-value" id="select-value-teacher" class="form-control" style="display: block;">
                                  {% for nauczyciel, send in nauczyciele.items %}
                                  <option send="{{send}}">{{nauczyciel}}</option>
                                  {% endfor %}
                                </select>
                                <select name="select-value" id="select-value-student" class="form-control" style="display: none;">
                                  {% for student, send in uczniowie.items %}
                                  <option send="{{send}}">{{student}}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-9 offset-sm-3">
                            <input value="Wybierz" class="btn btn-primary" type="submit">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
</section>
{% endblock %}

{% block scripts %}
    <script>
    var type = document.getElementById('select-type');
    type.options.selectedIndex = 0;
    type.onchange = function() {
        var list = document.getElementsByName('select-value');
        for(var i = 0; i < list.length; i++)
            list[i].style.display = 'none';
        var sel = type.options.selectedIndex;
        document.getElementById(type.options[sel].getAttribute('target')).style.display = 'block';
    };

    var form = document.getElementById('filter-form');
    form.onsubmit = function() {
        var sel = type.options.selectedIndex;
        var filter = type.options[sel].getAttribute('uid');
        var uid = document.getElementById(type.options[sel].getAttribute('target')).options;
        uid = uid[uid.selectedIndex].getAttribute('send');
        window.location.href = '/timetable?sel=' + filter + '&' + 'uid=' + uid;
        return false;
    }
    </script>
{% endblock %}
